body {
    background-color: rgb(228, 233, 253);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

p {
}

h1 {
    color: rgb(150, 72, 0);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: rgb(150, 72, 0);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
.summary {
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}
.italic {
    font-style: italic;
    font-weight: 400;
}